#btn-logout {
	display: inline-block;
	float: right;
	padding: 7px 15px;
	margin-right: 10%;
	background: #d3d3d3;
	color: #333;
	border-radius: 5px;
	border-color: #333; 
}

#btn-logout:hover {
	background: #333;
	color: #d3d3d3;
}

.logout-position {
	position: absolute;
	z-index: 999;
	top: 25px;
	right: 0px;
}