#articleDetails {
	width: 60%;
	height: auto;
	float: right;
	padding-top: 25px;
	overflow: hidden;
}

#article {
	margin: 0% 10%;
}

#articleTitle {
	width: 95%;
	height: 30px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #00E1FF;
	padding: 5px;
}

.layout-articleContent {
	margin-top: 20px;
}

#articleContent {
	width: 95%;
	height: 300px;
	margin-top: 15px;
	border-radius: 5px;
	border: 1px solid #00E1FF;
	padding: 5px;
}

textarea {
	resize: none;
}

#btnSave {
	display: inline-block;
	margin-top: 25px;
	margin-left: 40%;
}

#action-result {
	border-radius: 10px;
	padding: 5px 0px;
}

#action-result p {
	color: #DBDBDB;
	margin-left: 10%;
}