.user-main {
	width: 100%;
	min-height: 100%;
}

.userDetails {
	font: italic 200 24px Georgia, Times, serif;
	display: inline-block;
	font-weight: bold;
	height: auto;
	float: right;
	overflow: hidden;
	width: 60%;
}

.usersList {
	font: italic 200 24px Georgia, Times, serif;
	font-weight: bold;
	display : inline-block;
	width: 35%;
	margin: 20px 0px 0px 20px;
	display: inline-block;
}

.usersList #searchForm {
	padding: 0px 20px 0px 0px;
}

.usersList #search {
	font: 200 18px Georgia, Times, serif;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.usersList #pages {
	margin: 30px 0px 0px 0px;
}