#userDetails {
	font-family: Georgia, Times, serif;
	font-style: italic;
	font-size: 20px;
	font-weight: bold;
	width : 60%;
	height: auto;
	float: right;
	/*padding-top: 25px;*/
	overflow: hidden;
	color: #00E1FF;
	width: 60%;
	font-style: italic;
	font-size: 20px;
}

#user {
	margin: 0% 10%;
}

.layout-userID {
	padding: 10px 0px 10px 0px;
}

#userID {
	font-style: normal;
	font-weight: normal;
	font-family: Georgia, Times, serif;
	width: 95%;
	height: 30px;
	margin-top: 10px;
	padding: 5px;
	border: none;
	outline: none;
}

.layout-username {
	padding: 5px 0px;
}

#username {
	font-style: normal;
	font-weight: normal;
	font-family: Georgia, Times, serif;
	width: 95%;
	height: 30px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #00E1FF;
	padding: 5px;
}

.layout-password {
	padding: 5px 0px;
}

#password {
	font-style: normal;
	font-weight: normal;
	font-family: Georgia, Times, serif;
	width: 95%;
	height: 30px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #00E1FF;
	padding: 5px;
}

.layout-type {
	padding: 5px 0px;
}

#types {
	font-style: normal;
	font-weight: normal;
	font-family: Georgia, Times, serif;
	width: 97%;
	height: 40px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #00E1FF;
	padding: 5px;
}

textarea {
	resize: none;
}

#btnSave {
	display: inline-block;
	margin-top: 25px;
	margin-left: 40%;
}